// .service {
//   padding-top: 20px;
// }

// .service__smallHeader {
//   font-family: "Kaushan Script", cursive;
//   letter-spacing: 0.5px;
//   text-align: center;
// }

// .service__bigHeader {
//   text-align: center;
// }

// .service__lineContainer {
//   display: grid;
//   justify-content: center;
//   margin-top: 20px;
// }

// .service__line {
//   border-bottom: $red 2px solid;
//   width: 10%;
// }

// .service__list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   margin-top: 30px;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   justify-content: space-around;
//   gap: 30px;
// }

// .service__textContainer {
//   max-width: 80%;
//   margin-left: 20px;
// }

// .service__item-container {
//   display: grid;
//   justify-content: space-around;
//   max-width: 80%;
//   margin: 0 auto;
//   grid-template-columns: auto 1fr;
// }

// .service__item-icon {
//   fill: $blue;
//   grid-column: 1;
// }

// .service__itemHeader {
//   font-size: 14px;
//   text-transform: uppercase;
//   color: #333333;
//   font-weight: 400;
//   grid-column: 2;
// }

// .service__itemText {
//   font-size: 15px;
//   line-height: 24px;
//   color: #999999;
//   font-weight: 400;
//   font-family: "Roboto";
//   grid-column: 2;
// }

// @media (min-width: 1200px) {
//   .service {
//     padding-top: 40px;
//     padding-bottom: 92px;
//     max-width: 1200px;
//     margin: 0 auto;
//   }

//   .service__smallHeader {
//     font-size: 24px;
//     font-weight: 400;
//   }

//   .service__bigHeader {
//     font-size: 30px;
//     font-weight: 700;
//   }

//   .service__lineContainer {
//     margin-top: 43px;
//   }

//   .service__list {
//     margin-top: 66px;
//     row-gap: 100px;
//     grid-template-columns: repeat(3, 1fr);
//   }

//   .service__item-container {
//     display: grid;
//     grid-template-columns: auto 1fr;
//   }
// }

.service {
  padding-top: 20px;

  &__smallHeader {
    font-family: "Kaushan Script", cursive;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &__bigHeader {
    text-align: center;
  }

  &__lineContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__line {
    border-bottom: $red 2px solid;
    width: 10%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-around;
    gap: 30px;
  }

  &__textContainer {
    max-width: 80%;
    margin-left: 20px;
  }

  &__item-container {
    display: grid;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: auto 1fr;
  }

  &__item-icon {
    fill: $blue;
    grid-column: 1;
  }

  &__itemHeader {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    grid-column: 2;
  }

  &__itemText {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    grid-column: 2;
  }

  @media (min-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 92px;
    max-width: 1200px;
    margin: 0 auto;

    &__smallHeader {
      font-size: 24px;
      font-weight: 400;
    }

    &__bigHeader {
      font-size: 30px;
      font-weight: 700;
    }

    &__lineContainer {
      margin-top: 43px;
    }

    &__list {
      margin-top: 66px;
      row-gap: 100px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item-container {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}
